# Everything is excluded unless we add it manually, preventing accidental
# inclusion of unwanted files.
*
*/**
!LICENSE
!README.md
!assets/**
!contrib/**
!out/extension.js
!package.json
!package-lock.json
